* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* div {
  border: 2px solid black;
} */

body {
  background-color: #eaf4d3;
  font-family: "Cascadia Mono", monospace, arial, sans-serif;
  margin: auto;
  padding: 5px;
  font-size: 1em;
}
.navbar .navbar-brand {
  color: #157347;
  font-size: 1.7em;
  font-weight: 600;
}
.navbar .navbar-brand:hover {
  color: #157347;
}

ul li .nav-link {
  text-decoration: none;
  color: #157347;
}
nav ul .nav-link:hover {
  color: #fbaf00;
}
ul .dropdown-item {
  font-weight: 600;
}

span:hover {
  padding: 1px;
}

.home-btn {
  color: #fbaf00;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid #cdc1a4;
  text-decoration: none;
}

.home-btn:hover {
  background-color: #fbaf00;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.hero-head a {
  font-size: 1.7em;
  font-weight: 800;
  color: #157347;
  text-decoration: none;
}

.hero-txt {
  color: #157347;
}

.hero .img-1 {
  width: 150px;
  margin-top: -180px;
}

.hero .img-3 {
  width: 200px;
  margin-top: -200px;
}

.dropdown-menu {
  background-color: #eaf4d3;
}
.dropdown-menu li a:hover {
  color: #157347;
}

.top-bg {
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.3);
  padding: 2px;
}
.top-bg:hover {
  background: linear-gradient(rgba(255, 255, 255), rgba(255, 255, 255));
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255);
  box-shadow: 0px 8px 8px rgba(255, 255, 255);
  /* margin-top: 5px; */
}
.product_card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}
.product_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.ft-prdt {
  color: #157347;
  font-size: 1.7em;
  font-weight: 800;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.mid {
  min-height: 20px;
  border-radius: 10px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 3px rgba(250, 250, 250, 1);
}

.tophead {
  font-size: 3em;
  font-weight: bolder;
}

.category {
  margin-top: 20px;
  font-size: 0.8em;
  color: #666666;
}
.name {
  color: #333333;
  font-size: 1.2em;
}
.price {
  font-size: 1em;
}
.toppara {
  font-size: 0.8em;
}
.tsp {
  margin-right: 60px;
}

.dashboard p i a:hover {
  color: #fbaf00;
}

.dashboard h4,
h5 {
  color: #157347;
  font-weight: bold;
}

form {
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.button:hover {
  border: 2px solid #7eae49;
  background-color: #7eae49;
  color: #ffffff;
  box-shadow: 0px 3px 3px 0px #00000022;
}

.agree {
  font-size: 12px;
}

.userlogo i {
  color: #157347;
  border: 1px solid #157347;
  padding: 10px;
  border-radius: 20px;
}

i {
  color: #157347;
  letter-spacing: 1px;
}

.today,
.total {
  background: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.today:hover,
.total:hover {
  padding-top: 5px;
  background: linear-gradient(rgba(255, 255, 255), rgba(255, 255, 255));
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 8px rgba(200, 200, 200, 0.3);
}

.today p,
.total p {
  font-size: 1.1em;
  color: #222222;
  letter-spacing: 1px;
}

table td {
  color: #333333;
  letter-spacing: 1px;
  border-bottom: 1px solid #00000011;
}

h5 {
  font-weight: bold;
}

.button:hover {
  border: 2px solid #7eae49;
  background-color: #7eae49;
}

span {
  font-size: 0.8em;
  color: #444444;
}

span a {
  color: #157347;
  font-size: 12px;
  text-decoration: none;
}

.row .acct {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.cart button {
  width: 130px;
  font-size: 1em;
}

.cart i {
  font-size: 15px;
}

.row1 h4 {
  box-shadow: 0px 3px 3px 0px #00000044;
}

.footer-para {
  font-size: 1em;
}
.footer ul li {
  display: flex;
  justify-content: start;
  align-items: center;
}
ul .foot-list a {
  color: #444444;
  font-size: 1em;
  text-decoration: underline;
  text-decoration-color: #333333;
}

.footer {
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 8px rgba(200, 200, 200, 0.9);
}

.footer-bottom {
  font-size: 0.9em;
}
.footer-bottom .copy {
  font-size: 1em;
  width: 100px;
}
.ft-btn:hover {
  color: #ffffff;
  background-color: #fbaf00;
  border: none;
}
.footer i {
  color: #157347;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .img-2 {
    width: 350px;
  }
  .top-img img {
    height: 180px;
  }
  .hero .img-1,
  .img-3 {
    width: 82px;
    margin-top: -320px;
    margin-right: -80px;
    margin-left: -80px;
  }
  .hero .img-3 {
    width: 100px;
    margin-top: -350px;
    margin-left: -80px;
  }
  .hero-txt {
    font-size: 0.7em;
  }
  .category {
    font-size: 0.7em;
    color: #666666;
  }
  .news p {
    font-size: 0.9em;
  }
  .name {
    font-size: 0.9em;
    font-weight: bold;
  }
  .price {
    font-size: 0.8em;
  }
  .alternative {
    font-size: 0.8em;
  }

  .dash-name i {
    font-size: 0.8em;
  }
  .container {
    width: 90%;
  }
  .box {
    width: 100%;
  }
  .details {
    font-size: 1em;
    font-weight: bold;
  }
}
